

<form id="forms-notificationGroup">
    <input type="hidden" name="id">
    <div class="fieldGroup">
        <ul>
            <li>
                <span> 
                    <label class="control-label" for="groupName" title="Group Name">Group Name</label>
                    <input type="text" id="groupName" name="groupName" tabindex="0" alt="Group Name" />
                </span>
            </li>
            <li>
                <span> 
                    <label class="control-label" for="active" title="Active">Active</label>
                    <input type="checkbox" id="active" name="active" value="true" tabindex="0" alt="Active" />
                </span>
            </li>
            <li>
             <span> 
                <label class="control-label" for="memberName" title="Group Email List">Group Email List</label>
                <span style="width:50%;">
	                <div id="memberInputs">No members.</div>
	                <span><i id="addMember" class="plusMin" tabindex="0"></i> Add Member</span>
                </span>
                </span>
             </li>
            
        </ul>
    </div>
</form>
