
    <span class="boxTitle"><h2 tabindex="-1">Notification Rule Search</h2></span>
    <form id="forms-notificationRule-search">
    <div class="fieldGroup">
        <h5 tabindex="-1">Search Filters</h5>
        <ul>
            <li>
                <span> 
                    <label class="control-label" for="ruleType" title="Rule Type">Rule Type</label>
                    <select id="ruleType" name="ruleType" class="span12" title="Rule Type">
                        <option></option>
                        <option>ALERT</option>
                        <option>LOG</option>
                   </select>  
                </span>
            </li>
            <li>
                <span> 
                    <label class="control-label" for="attribute" title="Attribute">Attribute</label>
                  <input type="text" name="attribute" tabindex="0" alt="Attribute">
                </span>
            </li>
        </ul>
        <button id="notification-rule-search" type="button" class="boxBtn" role="button" value="Search" tabindex="0">
            <span class="btnIcon icon_sprite icon_reTry2" aria-hidden="true"></span><span  class="btnText">Search</span>
        </button>
        <button id="notification-rule-add" type="button" class="boxBtn" role="button" value="Add New" tabindex="0">
            <span class="btnIcon icon_sprite icon_saveAdd2" aria-hidden="true"></span><span class="btnText">Add New</span>
        </button>
    </div>
</form>






