
 
    <span class="boxTitle"><h2 tabindex="-1">Notification Group Search</h2></span>
        
    <div class="fieldGroup">
        <h5 tabindex="-1">Search Filters</h5>
        <form id="forms-notificationGroup-search">
        <ul>
            <li>
               <span> 
                     <label for="groupName" title="Group Name">Group Name:</label> 
                     <input type="text" name="groupName" tabindex="0" alt="Group Name" />
               </span>
            </li>
        </ul>
        </form>
        <button id="notification-group-search" type="button" class="boxBtn" role="button" tabindex="0" value="Search">
            <span class="btnIcon icon_sprite icon_reTry2" aria-hidden="true"></span><span  class="btnText">Search</span>
        </button>
        <button id="notification-group-add" type="button" class="boxBtn" role="button" tabindex="0" value="Add New">
            <span class="btnIcon icon_sprite icon_saveAdd2" aria-hidden="true"></span><span class="btnText">Add New</span>
        </button>
    </div>
